{% extends '@Back/base.html.twig' %}

{% block body %}
    <h1>This is back!</h1>
    <a class="btn btn-default" href="{{ path('product_add') }}">Add product</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <img style="max-width: 40px" src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.name }}">
                </td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}